/* public/css/styles.css */

/* Style pour le titre */
h1 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
}

/* Style pour la table */
.table th {
    background-color: #f8f9fa; /* Couleur de fond des en-têtes de colonne */
}

/* Style pour les boutons */
.btn {
    margin-right: 10px;
}
