{% extends 'base.html.twig' %}

{% block title %}New Bateau{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Create new Bateau</h1>

        {{ include('bateau/_form.html.twig') }}

        <a href="{{ path('app_bateau_index') }}" class="btn btn-secondary mt-3">Back to list</a>
    </div>
{% endblock %}